<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8"/>
  <title>AccountInfo</title>
  <link rel="stylesheet" href="/css/account.css" />
  <link rel="stylesheet" href="/css/nav.css"/>
</head>

<body>

  <div id="rootNav"></div>
  <div id="root"></div>

    <script src="/js/ajaxSubmit.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    const config = /*[[${config}]]*/ {};
    /*]]>*/
    </script>


  <script src="/js/bundle/common.js"/>
  <script src="/js/bundle/global-bundle.js"/>
  <script src="/js/bundle/account-bundle.js"/>
</body>

</html>
