<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <meta charset="UTF-8"/>
    <title>Browse</title>
    <!-- No CDN because we want mediaboxes to work offline for saved videos. -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/browse.css" />
  </head>
  <body>
    <div id="root"></div>
    <script src="/js/external/jquery.min.js"></script>
    <script src="/js/external/bootstrap.min.js"></script>
    <script src="/js/bundle/common.js"/>
    <script src="/js/bundle/browse-bundle.js"/>
  </body>
</html>
