<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="App.css"></link>
</head>

<body>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <div id="content" class="content"></div>
    <script th:utext="'const List = ['+${fileList}+'];'">
    </script>
    <script type = "text/jsx" src="/app.jsx"></script>
</body>
</html>
<!-- <input type="text" onChange={this.textChange}></input> -->
