<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<!--
	<form action="#" th:action="@{/videoSubmission}" th:object="${form}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
     -->
    
    <div id="formDiv">
      <form id="uploadVideo" action="#" th:action="@{/videoSubmission}" th:object="${form}" method="post">
      <fieldset>
          <div>
          <h1>Select Video File</h1>
            <p><input type="file" th:field="*{videoFile}" name="videoFile" accept="video/*"/></p>
          </div>


          <div>
          <h1>Video Poster</h1>
            <p><input type = "file" th:field="*{thumbnailFile}" name="videoPoster" accept="image/*"/></p>
          </div>

          <div>
          <h1>Video Details</h1>
            <h2>Video Title</h2>
            <input type = "text" th:field="*{title}" name="videoTitle"/>
            <h2>Description</h2>
            <textarea rows="4" cols="50" th:field="*{description}" name="videoDescription">
            Enter the description of the video here.
            </textarea>
            <h2>Tags</h2>
            <textarea rows="4" cols="50" name="videoTags">
            Enter keywords seperated by a comma. For example: Edmonton,Winter,Driving,Fast
            </textarea>
            <h2>Language</h2>
            <select name = "videoLanguage" th:field="*{language}">
              <option value="English">English</option>
              <option value="French">French</option>
              <option value="Spanish">Spanish</option>
              <option value="Other">Other</option>
            </select>
            <h2>City</h2>
            <input type = "text" th:field="*{city}" name="city"/>
            <h2>Country</h2>
            <input type = "text" th:field="*{country}" name="country"/>
            <h2>License</h2>
            Allow adaptations of this work to be shared?<br/>
            <input type="radio" name="videoLicense" th:field="*{license}" value="Y"/>Yes&emsp;
            <input type="radio" name="videoLicense" th:field="*{license}" value="N"/>No&emsp;
            <input type="radio" name="videoLicense" th:field="*{license}" value="SA"/>Yes, as long as others share alike
            <h2>Content Rating</h2>
            <input type="radio" name="videoRating" th:field="*{contentRating}" value="All Audiences"/>All Audiences&emsp;
            <input type="radio" name="videoRating" th:field="*{contentRating}" value="Mature"/>Mature
            <h2>Version</h2>
            <input type = "text" th:field="*{version}" name="videoVersion"/>
          </div>
          <div>
          <h1>Submit Video</h1>
            <input type="hidden" th:field="*{userName}" name="author" value="testUser"/>
            <input type="submit" value="Submit"/>
          </div>
        </fieldset>
      </form>
      </div>
</body>
</html>