<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/Features-Boxed.css" />
    <link rel="stylesheet" href="/css/nav.css"/>
    <link rel="stylesheet" href="/css/upload.css" />
</head>

<body>
    <div id="rootNav">
    </div>
    <div id="rootLeft">
    </div>
    <div id="rootRight">
    </div>

    <script th:inline="javascript">
    /*<![CDATA[*/
    const config = /*[[${config}]]*/ {};
    /*]]>*/
    </script>

    <script src="/js/bundle/common.js"/>
    <script src="/js/bundle/global-bundle.js"/>
    <script src="/js/bundle/upload-bundle.js"/>

</body>
</html>
