<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/userProfile.css"></link>
</head>


<body>
    <div id="rootNav"></div>
    <div id="root"></div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    const config = /*[[${config}]]*/ {};
    /*]]>*/
    </script>
    <!--  
    <script src="/js/external/jquery.min.js"></script>
    <script src="/js/external/bootstrap.min.js"></script>
    -->
    <script src="/js/bundle/common.js"/>
    <script src="/js/bundle/global-bundle.js"/>
    <script src="/js/bundle/userProfile-bundle.js"/>
  </body>
</html>