<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Profile</title>
  
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css"></link>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="/css/Lightbox-Gallery.css"></link>
    <link rel="stylesheet" href="/css/Navigation-Clean1.css"></link>
    <link rel="stylesheet" href="/css/userProfile.css"></link>
    <link rel="stylesheet" href="/css/browse.css"></link>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css"></link>
</head>


<body>
    <div id="rootNav"></div>
    <div id="root"></div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    const config = /*[[${config}]]*/ {};
    /*]]>*/
    </script>
    
    <script src="/js/external/jquery.min.js"></script>
    <script src="/js/external/bootstrap.min.js"></script>
    <script src="/js/bundle/common.js"/>
    <script src="/js/bundle/global-bundle.js"/>
    <script src="/js/bundle/userProfile-bundle.js"/>
  </body>
</html>