.deleteButton {
    float: right;
}

.category-col {
    padding: 4px;
}
.category-row {
    border: solid;
    border-width: 1px 0;
}
.category-row:first-child,
.category-row:nth-child(2){
    border-top: none;
}
.category-row:last-child {
    border-bottom: none;
}

.panel-heading:hover {
    cursor: pointer;
}
.panel-heading:hover h4 {
    text-decoration: underline;
}
.glyphicon {
	margin: 0 0.5em 0 0;
}
.btn {
    margin: 0 1em 0 0;
}
#category-accordian {
    width: 100%;
}