.features-boxed {
  overflow-y:auto;
}

.selected {
  opacity:0.5;
}

.checked {
  background-color:lightgrey;
}

.panel.panel-default {
  border-radius:0px;
  margin:0px!important;
}

.row.display-flex {
  display:flex;
}

.row.display-flex > [class*='col-'] {
  display:flex;
  flex-direction:column;
}

.check {
  position:absolute;
  top:25%;
  left:45%;
  display:inline-block;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  height:48px;
  width:24px;
  border-bottom:10px solid #3f73b1;
  border-right:10px solid #3f73b1;
}

#rootLeft ul{
  list-style-type: none;
  border: 1px solid #494949
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #373a38;
}

#rootLeft li{
  float: left
}

h1{
  font-size: 16pt;
}

h2{
  font-size: 12pt;
}

.tab{
  position: absolute;
  left: 1em;
}

.formTabs{
  margin: 0;
  width: 25%;
  height: 10%;
  background-color: black;
}
