.App {
  text-align: center;
}

.App-logo {
  /*animation: trembling infinite 1s linear;*/
  height: 5em;
  padding-top: 1em;
}

.App-header {
  background-color: #000;
  height: 10em;
  width: 100%;
  color: white;
}

.App-video {
  background-color: #CCC;
  height: 10em;
  width: 15%;
  margin-top: 1em;
  margin-left: 1em;
  color: black;
  border-style: dashed;
  float: left;
}

/* This is commented out because I was jsut trying things
.video-list{
  background-color: #BBB;
}
*/

/*This is just some stuff I was playing with. It's not really important or anything
@keyframes trembling {
	0% {transform:translateX(0) rotate(0deg); background-color: #000;}
	20% {transform:translateX(-10px) rotate(-2deg);}
	40% {transform:translateX(10px) rotate(2deg);}
  50% {background-color: #000;}
	60% {transform:translateX(-10px) rotate(-2deg); }
	80% {transform: translateX(10px) rotate(2deg);}
	100%{transform: translateY(0) rotate(0deg); background-color: #000;}
}
*/
