.features-boxed {
  overflow-y:auto;
}

.selected {
  opacity:0.5;
}

.checked {
  background-color:lightgrey;
}

.panel.panel-default {
  border-radius:0px;
  margin:0px!important;
}

.row.display-flex {
  display:flex;
}

.row.display-flex > [class*='col-'] {
  display:flex;
  flex-direction:column;
}

.check {
  position:absolute;
  top:25%;
  left:45%;
  display:inline-block;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  height:48px;
  width:24px;
  border-bottom:10px solid #3f73b1;
  border-right:10px solid #3f73b1;
}

.notTVLogo{
  height: 125%;
  width:  125%;
}

.formTabs{
  margin: 1em;
  width: 25%;
  height: 10%;
  background-color: white;
}

ul{
  border: 1px solid #e7e7e7
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #abcdef
}

li{
  float: left
}

li a{
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
