.App {
  text-align: center;
}

.App-logo {
  /*animation: trembling infinite 1s linear;*/
  height: 5em;
  padding-top: 1em;
}

.App-header {
  background-color: #000;
  height: 10em;
  width: 100%;
  color: white;
}

.App-video {
  text-align: left;
  background-color: #CCC;
  width: 25%;
  padding-top: 1em;
  padding-bottom: 1em;
  list-style-type: none;
}
li {
  margin: 1em;
  padding: 1em;
  float: left;
}

li:hover{
  background-color: #DDD
}

input {
  background-color: #BBB;
  width: 25%;
}

/* This is commented out because I was jsut trying things
.video-list{
  background-color: #BBB;
}
*/

/*This is just some stuff I was playing with. It's not really important or anything
@keyframes trembling {
	0% {transform:translateX(0) rotate(0deg); background-color: #000;}
	20% {transform:translateX(-10px) rotate(-2deg);}
	40% {transform:translateX(10px) rotate(2deg);}
  50% {background-color: #000;}
	60% {transform:translateX(-10px) rotate(-2deg); }
	80% {transform: translateX(10px) rotate(2deg);}
	100%{transform: translateY(0) rotate(0deg); background-color: #000;}
}
*/
